/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: 'Handwritten Serif';
    src: url('fonts/handwrittenSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url('fonts/SansSerifFunnySymbols.ttf') format('truetype');
    font-weight: normal;
    font-style: monospace;  
}

body {
    background-color: darkgreen;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.yes {
    display: table-column;
}

h1, a {
    font-family: 'Handwritten Serif';
    color: antiquewhite;
    text-decoration: none;
}

h1 {
    font-size: 5rem;
    transition: transform 0.5s ease;
}

/* Figure out why the animation isn't working*/

a {
    font-size: 13rem;
    color: gold;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.3);
    color: goldenrod;
    animation: pulse 1s ease-in-out infinite;
}

h1:hover {
    animation: pulse 1s ease-in-out infinite;
}

.link {
    transition: transform 0.3s ease;
}

.link:hover {
    transform: scale(1.4);
}

@keyframes pulse {
    0% {
        transform: scale(0.8) rotate(0deg);
    }
    30% {
        transform: scale(1) rotate(10deg);
    }
    50% {
        transform: scale(1.2) rotate(0deg);
    }
    70% {
        transform: scale(1)rotate(-10deg);
    }
    100% {
        transform: scale(0.8) rotate(0deg);
    }
}

/* Canvas */
.garden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.garden p {
    font-family: 'regular';
    color: white;
    font-size: 2rem;
    margin-bottom: 5%;
}

.garden button {
    margin-bottom: 7%;
}

canvas {
    border: 2px solid white;
    cursor: crosshair;
    background-color: black;
    margin-bottom: 7%;
}

.textInput {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'regular';
}

.textInput:focus {
    border-color: gold;
    box-shadow: 0 0 5px gold;
}