@font-face {
    font-family: 'Handwritten Serif';
    src: url('fonts/handwrittenSerif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UGLY FONT';
    src: url('fonts/FontNo1.ttf') format('truetype');
    font-weight: normal;
    font-style:normal;
}

@font-face {
    font-family: 'FIRE FONT';
    src: url('fonts/goodFont.ttf') format('truetype');
    font-weight: bolder;
    font-style:normal;
}

@font-face {
    font-family: 'regular';
    src: url('fonts/SansSerifFunnySymbols.ttf') format('truetype');
    font-weight: normal;
    font-style: monospace;
}

/* FONT STUFF */
body p {
    font-family: 'regular';
}

body h1 {
    font-family: 'Handwritten Serif';
}

body h2 {
    font-family: 'Handwritten Serif';
}

body h3 {
    font-family: 'Handwritten Serif';
}

body {
    background-color: lightgrey;
}

.content h1 {
    margin-left: 5%;
    font-size: 4rem;
}

.content h2 {
    font-size: 2rem;
}

.content p {
    font-size: 1.5rem;
}

/* HEADER */
.header {
    background-color: darkslategray;
    border-radius: 1rem;
    margin: 2% 2%;
}

.header-top {
    font-family: 'UGLY FONT';
    display: column;
    align-items: center;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top h1 {
    font-size: 700%;
    color: white;
}

.eatthatjam {
    width: 35%;
    height: 25%;
}

/* ts not working?? i want the buttons on the right */
.icons {
    display: flex;
    padding-top: 1%;
    margin-right: 1%;
    gap: 1%;
    justify-content: right;
}

.header-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-left: 5rem;
    color: white;
    padding-bottom: 1rem;
    align-items: center;
}

.header-bottom h2 {
    font-size: 3.5rem;
    justify-content: center;
    width: 40%;
}

.header-bottom p {
    font-size: 2rem;
    padding-right: 10%;
}

/* PROJECTS */
.section-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2%;
}

.project {
    background-color: lightgray;
    padding: 2%;
    margin-top: 2%;
    border-radius: 2rem;
}